<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    <% case controller 
       when TopController, HomeController %>
      Bookmak - ALL YOUR BOOKMARKLETS ARE BELONG TO US
    <% when UsersController %>
    <% when BookmarkletsController %>
      <% if controller.action_name == "show" %>
        <%=h @bookmarklet.title %> : Bookmak - ALL YOUR BOOKMARKLETS ARE BELONG TO US
      <% else %>
        Bookmak - ALL YOUR BOOKMARKLETS ARE BELONG TO US
      <% end %>
    <% else %>
      Bookmak: <%=h controller.action_name %>
    <% end %>
  </title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'jquery_for_bookmak' %>
</head>
<body>

<%= render :partial => 'shared/header' %>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
